<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Date1" value="2018-01-01" />
    <add key="Key1" value="2018-02-02" />
    <add key="Key2" value="2018-03-03" />
  </appSettings>
</configuration>